// Global
$base-font-size: 16px;
$base-line-height: 1.8em;
$container-max-width: 75em;

// Material Overrides
/*** Colors ***/
$primary-color: #01579b;
$secondary-color: #d50000;

/*** Nav ***/
$navbar-height: 84px;