.brand-logo {
	height: 100%;

	img {
		height: 100%;
		width: auto;
	}
}

.iv1-header {
	&__container {
		@media #{$large-and-up} {
		  z-index: 10;
		  position: absolute;
		  background: rgba(0,0,0, .2);
		}
	}

	a {
		@media #{$large-and-up} {
			font-size: 1.2rem;
			text-shadow: 1px 1px 1px black;
		}
	}
}